@charset "UTF-8";
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 9rem;
  color: white;
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  .h1 {
    font-size: 6.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 990px) {
  .h1 {
    font-size: 5rem;
    text-align: center;
  }
}

.section-info {
  padding: 3.5rem;
}

.div-info {
  padding-top: 1rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.8rem;
  color: #730d32;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 2.9rem;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 990px) {
  p {
    font-size: 1.6rem !important;
  }
}

.quote {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 0.5px solid #730d32;
  border-bottom: 0.5px solid #730d32;
  margin: 3rem 0;
}
@media screen and (max-width: 990px) {
  .quote {
    font-size: 1.6rem;
  }
}
.quote .quote-mark {
  color: #730d32;
  font-size: 3.5rem;
}
@media screen and (max-width: 767px) {
  .quote .quote-mark {
    display: none;
  }
}
.quote p {
  margin-top: 1.5rem;
  font-weight: 200;
  font-style: italic;
  text-align: justify;
}
.quote p span {
  font-size: 1rem;
  font-weight: 300;
}

.under-quote {
  font-size: 1.2rem;
  margin-top: -1.5rem;
  color: #730d32;
  margin-bottom: 1.5rem;
}
.under-quote a {
  text-decoration: underline;
  color: #730d32;
  font-style: italic;
}

.info-escudo {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .info-escudo img {
    display: none;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  color: #730d32;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  background-color: #730d32;
  padding: 3.5rem 5rem;
  padding-top: 2.5rem;
}
footer h2 {
  color: #f7b643;
}
footer h3 {
  color: #f7b643;
  font-weight: 700;
  font-size: 3rem;
}
footer .contacto {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #f7b643;
  font-weight: 300;
}
@media screen and (max-width: 990px) {
  footer .contacto {
    font-size: 1.6rem;
  }
}
footer .contacto ul {
  padding-left: 3rem;
}
footer .contacto ul a {
  text-decoration: none;
  color: #f7b643;
  font-weight: 400;
}
footer .contacto ul a:hover {
  color: rgba(247, 182, 67, 0.8);
}
footer .contacto .redes {
  margin-bottom: 2.5rem;
  display: flex;
  gap: 2rem;
}
footer .contacto .redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f7b643;
  font-size: 4rem;
  padding: 1rem;
  border-radius: 100%;
  background: #730d32;
  box-shadow: inset 20px 20px 60px #610b2a, inset -20px -20px 60px #850f3a;
}

.info-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.divider {
  background-color: #f7b643;
  width: 1px;
}

.contacto {
  align-self: flex-start !important;
}

.boton-socios {
  display: flex;
  justify-content: center;
}

.socio-footer {
  text-decoration: none;
  color: white;
  background-color: #f7b643;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

.socio-footer:hover {
  background-color: rgba(247, 182, 67, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.datos-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter {
  margin-top: 4rem;
  border-top: 0.5px solid #f7b643;
  padding-top: 3rem;
}
.newsletter h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: #f7b643;
}
.newsletter p {
  color: #f7b643;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.newsletter .email-form {
  background-color: rgba(247, 182, 67, 0.9);
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #730d32;
}
.newsletter input[type=email]:focus {
  background-color: #f7b643;
  border: none;
  outline: none;
}
.newsletter input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: rgba(115, 13, 50, 0.5);
}
.newsletter input[type=submit]:focus {
  background-color: rgba(247, 182, 67, 0.7);
  border: none;
  outline: none;
}
.newsletter input[type=submit] {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #f7b643;
  margin-top: 1.5rem;
  background-color: rgba(115, 13, 50, 0.9);
  border: 1px solid #f7b643;
  border-radius: 50px;
  padding: 1rem 2rem;
}
.newsletter input[type=submit]:hover {
  background-color: rgba(247, 182, 67, 0.3);
}

.sponsors .logo-sponsors {
  margin-top: 6rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 55px;
}
.sponsors .logo-sponsors img {
  max-height: 50px;
  opacity: 0.6;
}

.extra-margin-bottom {
  margin-bottom: 5rem;
}

.no-seleccionable {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (max-width: 1100px) {
  footer {
    padding: 2.5rem 3rem;
  }
  footer .info-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  footer .datos-extra {
    border-bottom: 0.5px solid #f7b643;
    padding-bottom: 6rem;
  }
  footer .datos-extra .boton-socios {
    width: 100% !important;
    margin-top: 2rem;
  }
  footer .datos-extra .boton-socios .socio-footer {
    width: 100%;
    text-align: center;
  }
  footer .divider {
    display: none;
  }
  .sponsors .logo-sponsors {
    gap: 20px;
  }
  .sponsors .logo-sponsors img {
    max-height: 28px;
  }
}
.section-heading {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(115, 13, 50, 0.4), rgba(115, 13, 50, 0.4));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-heading .back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover !important;
  pointer-events: none; /* Evita toques/clics */
  user-select: none; /* No permite selección accidental */
  touch-action: none; /* Previene gestos táctiles */
}

.section-heading-pages {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 4%;
  background-color: none;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .img-inicio {
  height: 5.2rem;
}
nav .navbar-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
nav .navbar-ul .item-navbar {
  height: 100%;
}
nav .navbar-ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgba(247, 182, 67, 0.8);
  font-weight: 750;
}
nav .navbar-ul li :hover {
  color: #f7b643;
}
nav .navbar-ul li a {
  text-decoration: none;
  color: rgba(247, 182, 67, 0.8);
}
nav .navbar-ul li a :hover {
  color: #f7b643;
}

.header-scrolled {
  background-color: #730d32;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.arrow {
  height: 100%;
  line-height: 70px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: rgba(247, 182, 67, 0.8);
  transition: all 0.3s ease;
}
.arrow :hover {
  color: #f7b643;
}

.submenu {
  margin-top: 2rem;
  position: absolute;
  top: 70px;
  z-index: 20;
  list-style: none;
  line-height: 40px;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease-in-out;
}
.submenu li {
  text-align: center;
  font-weight: 300 !important;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(247, 182, 67, 0.5);
}
.submenu div {
  overflow: hidden;
}

.link_nav--drop {
  color: rgba(115, 13, 50, 0.9);
}

@media screen and (min-width: 1281px) {
  .navbar-ul li:hover .deportes-submenu,
  .navbar-ul li:hover .club-submenu {
    grid-template-rows: 1fr;
    background-color: rgba(115, 13, 50, 0.85);
  }
  .navbar-ul li:hover .deportes-submenu,
  .navbar-ul li:hover .club-submenu {
    grid-template-rows: 1fr;
    background-color: rgba(115, 13, 50, 0.85);
  }
  .navbar-ul li:hover .deportes-arrow,
  .navbar-ul li:hover .club-arrow {
    transform: rotate(180deg);
  }
  .deportes-submenu .show2,
  .club-submenu .show1 {
    grid-template-rows: 1fr;
  }
}
.menu-icon {
  display: none !important;
}

.nav-mobile {
  display: none;
}

.cerrar {
  display: none !important;
}

i.cerrar,
i.menu-icon, .arrow {
  background: none !important;
  outline: none;
  box-shadow: none;
}

i.cerrar:focus,
i.menu-icon:focus,
i.cerrar:active,
i.menu-icon:active, .arrow {
  background: none !important;
  outline: none;
  box-shadow: none;
}

* {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #f7b643;
}

@media screen and (max-width: 1280px) {
  .header-scrolled {
    background-color: transparent;
    box-shadow: none;
  }
  .cerrar {
    font-size: 2.5rem;
    color: #f7b643;
    display: block !important;
  }
  .nav {
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction: column;
    background-color: #730d32;
    width: 100%;
    height: 100vh;
    overflow-y: auto !important;
    z-index: 200001;
    justify-content: start;
    align-items: center;
    top: -200%;
  }
  .cerrar-div {
    padding: 0 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  .navbar-ul {
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
    line-height: 50px;
    overflow-y: scroll;
    width: 100%;
    gap: 0rem !important;
  }
  .navbar-ul li {
    font-size: 2.5rem !important;
    border-top: 0.5px solid #f7b643;
    width: 100%;
    line-height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  .item-con-dropdown {
    padding-left: 0rem !important;
  }
  .item-con-dropdown .dw-title {
    padding-left: 2.5rem !important;
  }
  .submenu {
    position: relative !important;
    margin-top: 0;
    top: 0;
    width: 100% !important;
    z-index: 1 !important;
  }
  .submenu li {
    background-color: rgba(247, 182, 67, 0.12);
  }
  .arrow {
    height: auto !important;
    margin-left: 0.5rem;
  }
  .nav-mobile {
    display: inline-block;
    position: fixed;
    background-color: transparent;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 4.5%;
    transition: all 0.5s;
  }
  .nav-mobile .img-inicio {
    height: 5.5rem;
  }
  .nav-mobile .menu-icon {
    display: inline-block !important;
    font-size: 3rem;
    color: #f7b643;
    z-index: 100001;
  }
  .header-scrolled-mobile {
    background-color: #730d32;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 990px) and (orientation: landscape) {
  .nav {
    height: auto !important;
    max-height: 100dvh;
    overflow-y: auto !important;
  }
  .submenu {
    position: relative !important;
    width: 100% !important;
    z-index: 10;
    margin-bottom: 1rem;
  }
  .navbar-ul {
    height: auto;
    overflow-y: auto;
  }
}
header {
  z-index: 100000;
}

.foto-directiva {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-directiva.jpg");
}

.foto-cupra {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-cupra.jpg");
}

.foto-socios {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-socios.jpg");
}

.foto-beneficios {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-beneficios.jpg");
}

.foto-memorias {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-memorias.jpg");
}

.foto-estatuto {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-estatuto.jpg");
}

.foto-reglamento {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-reglamento.jpg");
}

.foto-corredores {
  background-position: top center;
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/Corredores.jpg");
}

.foto-basket {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/PapiBasket.JPG");
}

.foto-futbol {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/foto-futfem.JPEG");
}

.foto-hb {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/HB Femenino.jpg");
}

.foto-hockey {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/Hockey.jpg");
}

.foto-rugby {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/Rugby.jpg");
}

.foto-voley {
  background-image: linear-gradient(rgba(115, 13, 50, 0.5), rgba(115, 13, 50, 0.8)), url("../img/MamiVolley.jpg");
}

.comision {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-top: 2rem;
}
@media screen and (max-width: 990px) {
  .comision {
    justify-content: center;
  }
}

.persona-comision {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 15%;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 11px 11px 22px #e6e6e6, -11px -11px 22px #ffffff;
}
@media screen and (max-width: 1280px) {
  .persona-comision {
    width: 23%;
  }
}
@media screen and (max-width: 990px) {
  .persona-comision {
    width: 45%;
  }
}
@media screen and (max-width: 450px) {
  .persona-comision {
    width: 95%;
  }
}
.persona-comision .icono {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 6px 6px 12px #e6e6e6, inset -6px -6px 12px #ffffff;
  padding: 2rem;
}
.persona-comision .icono i {
  color: #730d32;
  font-size: 2.8rem;
}
.persona-comision .datos-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.persona-comision .datos-persona h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.persona-comision .datos-persona p {
  font-size: 1.6rem;
}

.iframe-texto {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
@media screen and (max-width: 990px) {
  .iframe-texto {
    flex-direction: column;
  }
}
.iframe-texto iframe {
  border-radius: 30px;
  border: 15px solid #f7b643;
}
@media screen and (max-width: 990px) {
  .iframe-texto iframe {
    width: 98%;
    align-self: center;
    margin-top: 2rem;
  }
}
.iframe-texto ul {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  font-weight: 300;
  padding-top: 2rem;
  padding-left: 4rem;
}
@media screen and (max-width: 990px) {
  .iframe-texto ul {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 990px) {
  .iframe-texto ul {
    font-size: 1.6rem !important;
  }
}

.doc {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.documento {
  border-radius: 30px;
  border: 15px solid #f7b643;
  max-height: 100vh;
}
@media screen and (max-width: 990px) and (orientation: portrait) {
  .documento {
    max-height: 70vh;
  }
}

.disciplina {
  margin-bottom: 4rem;
  padding: 4rem !important;
  border-radius: 50px;
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
.disciplina h2 {
  margin: 0;
  margin-bottom: 2rem;
}
.disciplina .info-disciplina {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
@media screen and (max-width: 990px) {
  .disciplina .info-disciplina {
    flex-direction: column;
    gap: 3rem;
  }
}

.disciplina-con-img {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.disciplina-con-img .img-disciplina {
  width: 100%; /* ocupa todo el ancho disponible */
  max-width: 250px;
  max-height: 250px; /* tamaño máximo */
  aspect-ratio: 1/1; /* 🔑 asegura que siempre sea un cuadrado */
  border-radius: 50%; /* lo hace círculo */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center !important;
  border: 9px solid #f7b643;
}
@media screen and (max-width: 990px) {
  .disciplina-con-img .img-disciplina {
    display: none;
  }
}
.disciplina-con-img .img-disciplina img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta la imagen sin deformar */
}
.disciplina-con-img p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  font-weight: 300;
  margin: 0;
  text-align: justify;
}
@media screen and (max-width: 990px) {
  .disciplina-con-img p {
    font-size: 1.6rem !important;
  }
}

.horarios, .contacto-disciplina {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-disciplina {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.item-disciplina p {
  margin: 0;
}
.item-disciplina a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  font-weight: 500;
}
.item-disciplina i {
  background-color: #730d32;
  color: #f7b643;
  padding: 2rem;
  border-radius: 50%;
  font-size: 2.2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.socios {
  margin-bottom: 4rem;
  padding: 4rem !important;
  border-radius: 50px;
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
.socios h2 {
  margin: 0;
  margin-bottom: 2rem;
}
.socios p a {
  text-decoration: none;
  color: #730d32;
  font-weight: 500;
  word-break: break-word; /* o break-all si querés cortar sin piedad */
  overflow-wrap: break-word;
}

.div-boton {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.socio-boton {
  text-decoration: none;
  color: #f7b643;
  background-color: #730d32;
  padding: 1.3rem 2rem;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.div-categorias {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 990px) and (orientation: portrait) {
  .div-categorias {
    flex-direction: column;
    align-items: start;
  }
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: #730d32;
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  label {
    font-size: 2.8rem;
  }
}

#categorias {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  background-color: rgba(247, 182, 67, 0.7);
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  appearance: none; /* Oculta la flecha nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media screen and (max-width: 990px) and (orientation: portrait) {
  #categorias {
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  margin-top: 5rem;
}

.beneficio {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: auto !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  background-color: rgba(247, 182, 67, 0.85);
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
@media screen and (max-width: 900px) {
  .beneficio {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .beneficio {
    width: 90%;
  }
}
.beneficio h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #730d32;
  font-weight: 500;
}
.beneficio .empresa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.beneficio .empresa img {
  max-width: 100%;
  max-height: 70%;
}
.beneficio .empresa h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  color: #730d32;
  font-weight: 800;
  margin: 0;
  text-align: center;
}
.beneficio .datos-empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-error {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.card-error p {
  margin: 0;
  color: rgba(115, 13, 50, 0.85);
}
.card-error i {
  font-size: 2.7rem;
  color: rgba(115, 13, 50, 0.85);
}

.loading-img {
  height: 50px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.swiper-memorias {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8rem;
  margin-bottom: 4rem;
  z-index: 0 !important;
}
.swiper-memorias .swiper-wrapper {
  height: auto;
}
.swiper-memorias .swiper-wrapper .swiper-slide {
  height: auto;
  box-sizing: border-box !important;
  border-radius: 50px;
  border-radius: 50px;
  transition: all 200ms linear;
  transform: scale(0.7);
  opacity: 0.5;
  margin-bottom: 8rem;
  padding: 3rem;
  background-color: #f7b643;
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
.swiper-memorias .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .swiper-memorias .swiper-wrapper .swiper-slide {
    width: 80%;
  }
}
.swiper-memorias .swiper-pagination-bullet-active {
  background-color: #730d32 !important;
}

.memoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0rem;
}
.memoria h2 {
  font-size: 3rem;
  padding: none;
  margin-top: 0;
}
.memoria a {
  text-decoration: none;
  background-color: #730d32;
  color: #f7b643;
  padding: 1.5rem 2.5rem;
  border-radius: 30px;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.memoria-actual {
  border: 2px solid rgba(115, 13, 50, 0.8);
}

.swiper-tecnicos {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8rem;
  margin-bottom: 4rem;
  z-index: 0 !important;
}
.swiper-tecnicos .swiper-wrapper {
  height: auto;
}
.swiper-tecnicos .swiper-wrapper .swiper-slide {
  height: auto;
  box-sizing: border-box !important;
  border-radius: 50px;
  border-radius: 50px;
  transition: all 200ms linear;
  transform: scale(0.7);
  opacity: 0.5;
  margin-bottom: 8rem;
  padding: 3rem;
  background-color: rgba(247, 182, 67, 0.15);
  box-shadow: 7px 7px 14px #bbc6c7, -7px -7px 14px #ffffff;
}
.swiper-tecnicos .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .swiper-tecnicos .swiper-wrapper .swiper-slide {
    width: 80%;
  }
}
.swiper-tecnicos .swiper-pagination-bullet-active {
  background-color: #730d32 !important;
}

.tecnico {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0rem;
}
.tecnico .icono i {
  font-size: 4.5rem !important;
  background-color: #730d32;
  color: #f7b643;
  padding: 5rem;
  border-radius: 50%;
  font-size: 2.2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.tecnico .datos {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 1.2rem;
}
.tecnico .datos .dato {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  color: #730d32;
}
.tecnico .datos .dato i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  color: #730d32;
  background-color: #f7b643;
  padding: 1rem;
  border-radius: 50%;
}
.tecnico .datos .dato p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #730d32;
}

* {
  padding: 0;
  margin: 0;
  font-display: swap;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
  background-color: white;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

html {
  overscroll-behavior: none;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

video::-webkit-media-controls {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
