.section-heading {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba($bordo, 0.4), rgba($bordo, 0.4));
    position: relative;
    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    

    .back-video{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        object-fit: cover !important;

        pointer-events: none; /* Evita toques/clics */
        user-select: none;    /* No permite selección accidental */
        touch-action: none;   /* Previene gestos táctiles */
    }

    
}

.section-heading-pages {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 4%;

    background-color: none;
    transition: all 0.5s;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

    .img-inicio {
        height: 5.2rem;
    }


    .navbar-ul {

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        .item-navbar {
            height: 100%;
            
        }

        li {
            list-style: none;
            font-family: "Poppins", sans-serif;

            // para que el submenu quede en el centro!

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 2rem;
            color: rgba($color: $amarillo, $alpha: 0.8);
            font-weight: 750;

            :hover{
                color: rgba($color: $amarillo, $alpha: 1);
            }
            
            a {
                text-decoration: none;
                color: rgba($color: $amarillo, $alpha: 0.8);

                :hover {
                    color: rgba($color: $amarillo, $alpha: 1);
                }
            }
            
            
        }

    }
}

.header-scrolled {
    background-color: rgba($color: $bordo, $alpha: 1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

}

// sistema drop



.arrow {
    height: 100%;
    line-height: 70px;
    font-weight: 500;
    text-align: center;
    display: inline-block;

    color: rgba($color: $amarillo, $alpha: 0.8);
    :hover {
        color: rgba($color: $amarillo, $alpha: 1);
    }

    transition: all 0.3s ease;
}

.submenu {
    margin-top: 2rem;
    position: absolute;
    top: 70px;
    z-index: 20;
    list-style: none;
    
    line-height: 40px;
    li {
        text-align: center;
        font-weight: 300 !important;
        padding: 0 2rem;
        border-bottom: 1px solid rgba($color: $amarillo, $alpha: 0.5);
    }


    //para el efecto de subir-bajar

    display: grid;
    grid-template-rows: 0fr; //para que no se vean las rows

    transition: all 0.3s ease-in-out;
    
    div {
        overflow: hidden;
    }
    
}


.link_nav--drop {
    color: rgba($color: $bordo, $alpha: 0.9);
}

//dropdown solo en desktop

@media screen and (min-width: 1281px) {
    .navbar-ul li:hover .deportes-submenu,
    .navbar-ul li:hover .club-submenu{
        grid-template-rows: 1fr;
        background-color: rgba($color: $bordo, $alpha: 0.85);
    }

//arrow dropdown que gire :)


  .navbar-ul li:hover .deportes-submenu,
  .navbar-ul li:hover .club-submenu {
    grid-template-rows: 1fr;
    background-color: rgba($color: $bordo, $alpha: 0.85);
  }

  .navbar-ul li:hover .deportes-arrow,
  .navbar-ul li:hover .club-arrow {
    transform: rotate(180deg);
  }

  .deportes-submenu .show2,
    .club-submenu .show1 {
    grid-template-rows: 1fr;
    }
}




// hamburguer menu

.menu-icon {
    display: none !important;
}

.nav-mobile {
    display: none;
}



.cerrar {
    display: none !important;
}

i.cerrar,
i.menu-icon, .arrow{
  background: none !important;
  outline: none;
  box-shadow: none;
}

i.cerrar:focus,
i.menu-icon:focus,
i.cerrar:active,
i.menu-icon:active, .arrow {
  background: none !important;
  outline: none;
  box-shadow: none;
}

* {
  outline: none;
}

*:focus-visible {
  outline: 2px solid $amarillo; // o el color que quieras mostrar SOLO si se navega con teclado
}


// media q

@media screen and (max-width: 1280px) {

    .header-scrolled {
        background-color: transparent;
        box-shadow: none;
    
    }

    .cerrar {
        font-size: 2.5rem;
        color: $amarillo;
        display: block !important;
    }

    .nav {
        padding: 2.5rem 0rem;
        display: flex;
        flex-direction: column;
        background-color: $bordo;
        width: 100%;
        height: 100vh;
        overflow-y: auto !important;
        z-index: 200001;

        justify-content: start;
        align-items: center;

        top: -200%;
        
    }

    

    .cerrar-div {
        padding: 0 2.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    .navbar-ul {
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
        line-height: 50px;
        overflow-y: scroll;
        width: 100%;
        gap: 0rem !important;
       
    }

    .navbar-ul li {
        font-size: 2.5rem !important;
        border-top: 0.5px solid $amarillo;
        width: 100%;
        line-height: auto;

        display: flex;
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
        padding: 1rem 0;
        padding-left: 2.5rem;


        
    }

    .item-con-dropdown {
        padding-left: 0rem !important;

        .dw-title {
            padding-left: 2.5rem !important;
            
            
        }
    }

    .submenu {
       position: relative !important;
       margin-top: 0;
       top: 0;

       width: 100% !important;
       z-index: 1 !important;

       li {
        background-color: rgba($color: $amarillo, $alpha: 0.12);
       }

    }

    .arrow {
        height: auto !important;
        margin-left: 0.5rem;
    }

    .nav-mobile {
        display: inline-block;
        position: fixed;
        background-color: transparent;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.3rem 4.5%;

        transition: all 0.5s;

        .img-inicio {
            height: 5.5rem;
        }

        .menu-icon {
            display: inline-block !important;
            font-size: 3rem;
            color: $amarillo;
            z-index: 100001;
        }
    }
    .header-scrolled-mobile {
        background-color: rgba($color: $bordo, $alpha: 1);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    
    }
    
}

@media screen and (max-width: 990px) and (orientation: landscape) {

    .nav {
        height: auto !important; // Permite que crezca más allá de la altura de pantalla
        max-height: 100dvh;      // Pero se limita para evitar que se desborde
        overflow-y: auto !important; // Habilita el scroll si se pasa del max
    }
    .submenu {
        position: relative !important;
        width: 100% !important;
        z-index: 10; // asegúrate de que esté por debajo del menú principal si se superpone
        margin-bottom: 1rem; // espacio para que no quede pegado
    }

    .navbar-ul {
        height: auto;
        overflow-y: auto;
    }
}

header {
    z-index: 100000;
}

// por pagina 

.foto-directiva {
    background-image:
    linear-gradient(rgba($bordo, 0.5), rgba($bordo, 0.8)),  
    url('../img/foto-futfem.JPEG'); // tu imagen de fondo
}