.swiper-memorias {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.8rem;
    margin-bottom: 4rem;
    z-index: 0 !important;

    .swiper-wrapper {
        height: auto;

        .swiper-slide {

            height: auto;
            box-sizing: border-box !important;
            border-radius: 50px;
            border-radius: 50px;
            transition:all 200ms linear;
            transform: scale(0.7);
            opacity: 0.5;
            margin-bottom: 8rem; // distancia a la pagination
            padding: 3rem;
            background-color: $amarillo;

            box-shadow:    7px 7px 14px #bbc6c7,
             -7px -7px 14px #ffffff;
  
            &.swiper-slide-active{
            transform: scale(0.9);
            opacity: 1;
            }
            @media screen and (max-width: 576px) {
               width: 80%;
            }

        }
    }

    .swiper-pagination-bullet-active {
     background-color: $bordo !important;
    }
}

.memoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0rem;

    h2 {
        font-size: 3rem;
        padding: none;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        background-color: $bordo;
        color: $amarillo;
        padding: 1.5rem 2.5rem;
        border-radius: 30px;
        font-weight: 500;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
    }
    
}

.memoria-actual {
    border: 2px solid rgba($color: $bordo, $alpha: 0.8);
}


